
{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>About Us</h1>
    <p>We are a community of music enthusiasts who share a passion for tapes. Our goal is to create a platform where people can buy, sell, and trade tapes, and connect with others who share their love for music.</p>
    <p>Whether you're a seasoned collector or just starting out, we welcome everyone to join our community and discover new music. Contact us today to learn more!</p>
    <h2>Contact Us</h2>
    <div class="contacts" style="font-size: 1.2em; margin-top: 2em;">
        <a href="https://www.facebook.com"><i class="bi bi-facebook"></i> @someaccount</a>
        <a href="https://www.twitter.com"><i class="bi bi-twitter"></i> @someaccount</a>
        <a href="mailto:info@mytapes.com"><i class="bi bi-envelope"></i> somemail@domain.com</a>
        <a href="https://www.discord.com"><i class="bi bi-discord"></i> @somediscordserver</a>
    </div>
{% endblock %}
