
{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>About Us</h1>
    <p>We are a company that specializes in creating high-quality mixtapes for our customers. Our team of experienced DJs and music enthusiasts are dedicated to providing you with the best possible listening experience.</p>
    <p>Whether you're looking for a custom mixtape for a special occasion or just want to discover new music, we've got you covered. Contact us today to learn more!</p>
    <h2>Contact Us</h2>
    <div class="contacts">
        <a href="https://www.facebook.com"><i class="bi bi-facebook">@someaccount</i></a>
        <a href="https://www.twitter.com"><i class="bi bi-twitter"></i>@someaccount</a>
        <a href="mailto:info@mytapes.com"><i class="bis bi-envelope"></i>somemail@domain.com</a>
    </div>
{% endblock %}
