{% extends 'base.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block body %}
    <h1>Edit Member</h1>

    {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}

    <button onclick="history.back()" class="btn btn-secondary" style="margin-left:20px;"">back</button>

{% endblock %}
