{% extends 'base.html.twig' %}

{% block title %}New Tape{% endblock %}

{% block body %}
    <h1>Create new Tape</h1>

    {{ include('Tape/_form.html.twig') }}

    <button onclick="history.back()" class="btn btn-secondary">back</button>
{% endblock %}
