{# templates/admin/dashboard.html.twig #}

{% extends '@EasyAdmin/layout.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Members</h3>
                    </div>
                    <div class="card-body">
                        <p>There are {{ memberCount }} members in the database.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}