{% extends 'base.html.twig' %}

{% block title %}Edit Gallery{% endblock %}

{% block body %}
    <h1>Edit Gallery</h1>

    {{ include('gallery/_form.html.twig', {'button_label': 'Update'}) }}

    <button onclick="history.back()" class="btn btn-secondary">back</button>

    {{ include('gallery/_delete_form.html.twig') }}
{% endblock %}
