{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <h1>Gallery</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            {% if gallery.isPublished %}
                <tr>
                    <td>{{ gallery.name }}</td>
                    <td>{{ gallery.description }}</td>
                    <td>
                        <a href="{{ path('app_gallery_show', {'id': gallery.id}) }}">show</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
