{% extends 'base.html.twig' %}

{% block title %}New Gallery{% endblock %}

{% block body %}
    <h1>Create new Gallery</h1>

    {{ include('gallery/_form.html.twig') }}

    <a href="#" onclick="history.back()" class="btn btn-secondary mt-3">Back</a>
{% endblock %}
