{# templates/access_denied.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page. You will be redirected to the home page in 3 seconds.</p>

    <script>
        setTimeout(function() {
            window.location.href = "{{ path('home') }}";
        }, 3000);
    </script>
{% endblock %}